ConsultaObligaciones.v11.suo
Obligaciones.Data/bin/
Obligaciones.Data/obj/
Obligaciones.Tests/bin/
Obligaciones.Tests/obj/
Obligaciones.WebAPI/bin/
Obligaciones.WebAPI/obj/
WebApplication1/bin/
WebApplication1/obj/
WebApplicationTest/bin/
WebApplicationTest/obj/